* {
  box-sizing: border-box;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.hero-container {
  background-color: #1F2937;
  padding: 20px 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #F9FAF8;
}

header > ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #E5E7EB;
  font-size: 18px;
}